.cover__link {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 740px;
    text-decoration: none;
    color: white;
    max-width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

}
