.footer__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
    margin: 0 18px 0 0;
    opacity: 1;
    transition: opacity .3s;
    transition-timing-function: ease;
  }
  
  .footer__link:hover {
    opacity: .8;
  }