.lead__title {
    border: 1px red solid;
    max-width: 720px;
    max-height: 200px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        max-width: calc(100% - 16px*2);
    }
}
