.lead__subtitle {
    max-width: 640px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 32px auto 64px;
    padding: 0;
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        margin: 32px auto 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin: 16px auto 40px;
    }
}

@media screen and (max-width: 540px) {
    .lead__subtitle {
        margin: 16px 16px 40px;
    }
}

