.cover__title {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    margin: 0 auto 32px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        margin: 0 auto 16px;
    }
}